
.chat {
    position: fixed;
    bottom: 20px; /* Adjust the distance from the bottom as needed */
    right: 20px; /* Adjust the distance from the right as needed */
    background-color: aliceblue;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    font-size: 12px;
}

.chatbot{
  background-color: #000;
  background-color: black;
  color: white;
  min-height: 100vh;
  padding: '20px';
  margin: 0;
  padding: 0;
}

.stockList {
  list-style-type: none;
  padding: 0;
}

.stockInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.stockInfo span {
  margin-left: 10px;
}
